@media only screen and (max-width:768px) {
    header {
        background-size: 100% 100%;
    }
    .sect2{
        display: flex;
        flex-direction: column;
    }
    .section3 article{
        display: flex;
        flex-direction: column;
    }
    .sect3 p{
        width:350px;
    
    }
    .section4 p{
        width:400px;
        padding-left:30px;
    }
    .img {
        display: flex;
        flex-wrap: wrap;
    }
    /* .img img{
        margin-top: 50px;
    } */
    .section4 h2{

    margin-top: 50px;
    }
    footer ul{
        display: flex;
        flex-direction: column;
    }

}